.container {
  display: flex;
  flex-direction: column;
  height: 40rem;
  border: solid white;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

img {
  height: 100em;
  width: 15em;
  border: solid white;
  margin-bottom: 2rem;
}

.movie-title {
  font-size: 100px;
}

.desc {
  font-size: 30px;
  margin-left: 10rem;
  margin-right: 10rem;
}
